{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bora!</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '/images/logo/borafaviconf.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    {% block links %}{% endblock %}
	{% block scripts %}{% endblock %}
</head>
<body>
    <nav>
        <div>  
            <ul>
                <li><a href="{% url 'home:index' %}">Home</a></li>              
                <li><a href="{% url 'home:contato' %}">Contato</a></li>              
            </ul>                               
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>